/*------------------------------------*\
  #CALC
\*------------------------------------*/

.section__calc {
	padding: 100px 0;
	background-color: $color-black;
	color: $color-white;
	margin: 20px auto;
}

.calc__columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 30px;
	gap: 30px;
}

.calc__title {
	text-align: center;
	margin-bottom: 100px;
}

.calc__input {
	width: 100%;
	color: $color-black;
	background-color: white;
	border: none;
	border-radius: 12px;
	box-shadow: $box-sh-container;
	padding: 15px 20px;
	margin: 10px 0 8px 0;
}

.list__item {
	width: 100%;
	background-color: $color-grey;
	border: none;
	border-radius: 12px;
	box-shadow: $box-sh-container;
	padding: 15px 20px;
	margin: 10px;
}

.consent__text {
	padding: 8px 2px;
	font-size: 1.2rem;
}

.checkbox_box {
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin-top: 3rem;
}

.list__item {
	display: none;
	margin: 10px 0 20px 0;
}

.select__input {
	display: flex;
	justify-content: space-between;
	color: $color-black;
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 12px;
	box-shadow: $box-sh-container;
	padding: 15px 20px;
	margin: 10px 0 10px 0;
	position: relative;

	&::after {
		content: '';
		background-image: url('../assets/arrow2.svg');
		width: 25px;
		height: 25px;
		display: block;
		position: absolute;
		right: 25px;
		top: 15px;
	}
}

.select__dropdown li {
	font-family: $font-lato;
	color: $color-black;
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 12px;
	box-shadow: $box-sh-container;
	padding: 15px 20px;
	text-align: center;
}

.select__dropdown {
	cursor: pointer;
	display: none;
}

.summary__total {
	display: flex;
	justify-content: space-between;
	background-color: $color-primary;
	border: none;
	border-radius: 12px;
	box-shadow: $box-sh-container;
	padding: 15px 20px;
	margin: 90px 10px 0 10px;

	&:hover {
		outline: 2px solid $color-primary;
	}
}

.open {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.select__dropdown.open {
	margin-right: 25px;
	margin-bottom: 20px;
}

.select__input.open::after {
	transform: rotate(180deg);
}

@media (max-width: 850px) {
	.section__calc {
		padding: 20px;
		margin: 0 auto;
	}

	.calc__columns {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.calc__title {
		margin-bottom: 50px;
	}
}
