/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: $color-white;
}

.hero__inside {
	margin: 200px auto;
	text-align: center;
}

.btn--hero {
	min-width: 380px;
	height: 60px;
	margin: 2rem;
	padding: 15px 40px;
	border-radius: 35px;
	text-transform: uppercase;
}

.hero__title {
	font-family: $font-extra;
	font-size: 3.2rem;
	font-weight: 900;
	line-height: 4rem;
	color: $color-black;
}

.hero__text {
	color: $color-black;
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 38px;
}

.hero__background {
	width: 60%;
	height: auto;
	margin-bottom: 2rem;
}

@media (max-width: 950px) {
	.hero__inside {
		margin-top: 150px;
	}

	.hero__title {
		font-size: 2.5rem;
		line-height: 40px;
	}

	.hero__text {
		font-size: 1.6rem;
		text-align: center;
	}
	.hero__background {
		width: 80%;
	}

	.btn--hero {
		min-width: 350px;
		height: 70px;
	}
}
